# metadata
DAGSTER_POSTGRES_USER=
DAGSTER_POSTGRES_PASSWORD=
DAGSTER_POSTGRES_DB=

# dbt database connection
DBT_POSTGRES_HOST=
DBT_POSTGRES_PORT=
DBT_POSTGRES_USER=
DBT_POSTGRES_PASSWORD=
DBT_POSTGRES_DBNAME=
DBT_POSTGRES_SCHEMA=